<div class="navbar-light bg-gray w-25 text-white h-100 align-self-start w-sidebar" style="height: 100vh !important; background: #f7f6f6 !important">
                <ul class="nav  flex-column flex-nowrap text-truncate">
                    <li class="navbar-nav nav-item">
                        <a class="nav-link {{#if active.requirements}}active{{/if}}" href="/requirements">Requirements</a>
                    </li>
                    <li class="nav-item navbar-nav">
                        <a class="nav-link {{#if active.candidate}}active{{/if}}" href="/candidates">Candidates</a>
                    </li>
                    <li class="nav-item navbar-nav">
                        <a class="nav-link {{#if active.feedback}}active{{/if}}" href="/feedback">Feedback</a>
                    </li>
                    <li class="nav-item navbar-nav">
                        <a class="nav-link {{#if active.skills}}active{{/if}}" href="/skills">Skills</a>
                    </li>
                </ul>
            </div>


{{!-- <div class="bg-gray w-25" id="sidebar-wrapper">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li class="nav-item">
<a class="nav-link p-3 {{#if active.requirements}}active{{/if}}" href="/requirements">Requirements</a>
      </li>
      <li class="nav-item {{#if active.candidate}}active{{/if}}">
<a class="nav-link  p-3" href="/candidates">Candidates</a>
      </li>
      <li class="nav-item">
<a class="nav-link  p-3 {{#if active.feedback}}active{{/if}}" href="/feedback">Feedback</a>
      </li>
    </ul>
  </div>
</div> --}}