<div class="col-xs-4 input-group">
  <input type="hidden" id="inputName" name="_csrf" value="{{_csrf}}" />
  <input
    type="search"
    name="keyword"
    placeholder="Search"
    class="form-control input-sm"
    value="{{keyword}}"
  />
  <button type="button" class="btn btn-primary" onclick="this.form.submit()">
    <i class="fas fa-search"></i>
  </button>
</div>